{% extends 'base.html' %}

{% block title %}{{ board.subject_name }} Questboard{% endblock %}

{% block heading %}{{ board.subject_name }} Questboard{% endblock %}

{% block content %}
    <p>{{ board.description }}</p>
    <p>
        Each student should collect 
        <strong>{{ board.required_stars }} stars</strong> 
        to fulfill the requirements for {{ board.subject_name }}.
    </p>

    <a href="{% url 'board-update' board.id %}">Edit Questboard</a>

    {% for quest in quest_list %}
        <div>
            <h2>{{ quest.quest_name }}</h2>
            <p>{{ quest.description }}</p>
            <h3>Dibs</h3>
            {% if quest.is_for_everyone %}
                <p>All students will participate in this quest.</p>
            {% else %}
                <ol>
                    <li>{{ quest.student1 }}</li>
                    <li>{{ quest.student2 }}</li>
                    <li>{{ quest.student3 }}</li>
                </ol>
            {% endif %}
            {%for i in quest.stars_range %}
                <img src="https://twemoji.maxcdn.com/2/svg/1f31f.svg" width="25" height="25">
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}