{% extends 'base.html' %}
{% load static %}

{% block title %}{{ board.subject_name }} Questboard{% endblock %}

{% block heading %}{{ board.subject_name }} Questboard{% endblock %}

{% block content %}
    <p>{{ board.description }}</p>
    <p>
        Each student should collect 
        <strong>{{ board.required_stars }} stars</strong> 
        to fulfill the requirements for {{ board.subject_name }}.
    </p>

    <input type="button" class="copy-btn" data-link="{{ board.get_absolute_url }}" value="Share Questboard">
    <a href="{% url 'board-update' board.id %}">Edit Questboard</a>
    <a href="{% url 'quest-create' board.id %}">Add Quest</a>

    {% for quest in quest_list %}
        <div>
            <h2>{{ quest.quest_name }}</h2>
            <p>{{ quest.description }}</p>
            <h3>Dibs</h3>
            
            {% if quest.is_for_everyone %}
                <p>All students will participate in this quest.</p>
            {% else %}
                <ol>
                    <li>
                        {% if quest.student1 == '' %}
                            <form action="{% url 'quest-signup' quest.id %}" method='POST'>
                                {% csrf_token %}
                                {{ student1_form }}
                                <input type="submit" name="first" onclick="return confirmFunction()" value="Sign Up">
                            </form>
                        {% else %}
                            {{ quest.student1 }}
                        {% endif %}
                    </li>
                    <li>
                        {% if quest.student2 == '' %}
                            <form action="{% url 'quest-signup' quest.id %}" method='POST'>
                                {% csrf_token %}
                                {{ student2_form }}
                                <input type="submit" name="second" onclick="return confirmFunction()" value="Sign Up">
                            </form>
                        {% else %}
                            {{ quest.student2 }}
                        {% endif %}
                    </li>
                    <li>
                        {% if quest.student3 == '' %}
                            <form action="{% url 'quest-signup' quest.id %}" method='POST'>
                                {% csrf_token %}
                                {{ student3_form }}
                                <input type="submit" name="third" onclick="return confirmFunction()" value="Sign Up">
                            </form>
                        {% else %}
                            {{ quest.student3 }}
                        {% endif %}
                    </li>
                </ol>
            {% endif %}

            {%for i in quest.stars_range %}
                <img src="https://twemoji.maxcdn.com/2/svg/1f31f.svg" width="25" height="25">
            {% endfor %}

            {% if quest.is_for_everyone or quest.are_dibs_empty %}
                <a href="{% url 'quest-update' quest.id %}">Edit Quest</a>
            {% else %}
                <p>Cannot Edit</p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/board_script.js' %}"></script>
{% endblock %}